::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 24px;
  border: 3px solid #f0f0f0;
}
